#Jupiter {
	position: absolute;
	height: 20px;
	width: 20px;
	
	border-radius: 10px;
	
	background-color: #aaa;
}


#satellites > div {
	position: absolute;
	height: 2px;
	width: 2px;
	
	border-radius: 1px;
	background-color: #000;
}

#IoDIV {
	height: 4px!important;
	width: 4px!important;
	border-radius: 2px!important;
}
#GanymedeDIV {
	height: 8px!important;
	width: 8px!important;
	
	border-radius: 4px!important;
}
#CallistoDIV {
	height: 6px!important;
	width: 6px!important;
	
	border-radius: 3px!important;
}
#IoName,
#EuropaName,
#GanymedeName,
#CallistoName {
	position: relative;
	left: 7px;
	top: 4px;
}

.orbb {
	z-index: 0;
	position:absolute;
	border: 1px solid #f00;
	opacity: 0.1;
}
#orbits div:nth-last-child(2) {
	background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(255,0,0,1));
	background: -o-linear-gradient(rgba(0,0,0,0), rgba(255,0,0,1));
	background: -moz-linear-gradient(rgba(0,0,0,0), rgba(255,0,0,1));
	background: linear-gradient(rgba(0,0,0,0), rgba(255,0,0,1));
}


#ref{
	position: absolute;
	height: 2px;
	width: 200%;
	
	background-color: #f00;
	opacity: 0.1;
}


#mouseboundary {
	position: absolute;
	top: 50px;
	left: 0;

	width: 100%;
	height: 100%;
}



/*** UI ***/



body {
	background-color: #f1f1f1;
	
	color: #333;
	font-family: 'Arial', sans-serif;
	font-size: 17px;
}


header {
	z-index: 100;
	position: absolute;
	top: 0;
	left: 0;
	height: 60px;
	width: 100%;
	
	font-size: 30px;
	line-height: 50px;
	padding: 10px;
	
	border-bottom: 2px solid #12589d;

	background-color: #fff;
}
header > span {
	position: relative;
	top: -10px;
	left: 10px;
}

main {
	z-index: 100;
	position: absolute;
	top: 525px;
	left: 0;
	
	font-family: 'Arial', sans-serif;
	font-size: 16px;
	padding: 20px 20px 0 55px;
	
	width: 100%;
	height: 700px;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	background-color: #fff;
}
input {
	margin: 0px 20px 2px 3px;
	text-align: center;
	width: 120px;
	height: 18px;
	color: #7f7f7f;
	background-color: #f1f1f1;
	border: 0;
	border-left: 3px solid #12589d;
}
main .in {
	display: inline-block;
}
main >:nth-child(2) {
	line-height:21.5px;
}

#tablediv table {
	background-color: #f7f7f7;
}
#tablediv tr td:first-of-type {
	background-color: #e7eef5;
}
#tablediv tr:first-of-type td {
	background-color: #cfddeb;
}
