#Jupiter {
	z-index: 1;
	position: fixed;
	height: 20px;
	width: 20px;
	
	border-radius: 10px;
	
	background-color: #aaa;
}


#satellites > div {
	position: fixed;
	height: 2px;
	width: 2px;
	
	border-radius: 1px;
	background-color: #fff;
}

#IoDIV {
	height: 4px!important;
	width: 4px!important;
	border-radius: 2px!important;
}
#GanymedeDIV {
	height: 8px!important;
	width: 8px!important;
	
	border-radius: 4px!important;
}
#CallistoDIV {
	height: 6px!important;
	width: 6px!important;
	
	border-radius: 3px!important;
}
#satellites span {
	position: relative;
	left: 7px;
	top: 4px;

	color: #aaa;
}

.orbb {
	z-index: 0;
	position: fixed;
	border: 1px solid #12589d;
	opacity: 0.3;
}
#orbits div:last-child {
	background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(18,88,157,1));
	background: -o-linear-gradient(rgba(0,0,0,0), rgba(18,88,157,1));
	background: -moz-linear-gradient(rgba(0,0,0,0), rgba(18,88,157,1));
	background: linear-gradient(rgba(0,0,0,0), rgba(18,88,157,1));
}


#ref {
	position: fixed;
	height: 2px;
	width: 200%;
	
	background-color: #12589d;
	opacity: 0.3;
}



.dot {
	position: fixed;
	height: 1px;
	width: 1px;
	background-color: #fff;
}



#mouseboundary {
	position: absolute;
	top: 50px;
	left: 0;

	width: 100%;
	height: 100%;
}



/*** UI ***/


html {
	overflow-x: hidden;
}


body {
	background-color: #101018;
	
	color: #333;
	font-family: 'Arial', sans-serif;
	font-size: 17px;
}


header {
	z-index: 6;
	position: fixed;
	top: 0;
	left: 0;
	height: 60px;
	width: 100%;
	
	font-size: 30px;
	color: #737373;
	
	overflow: hidden;
}
header > img {
	height: 50px;
	margin-top: 5px;
	margin-left: 5px;
}
header > div {
	height: 60px;
	width: 500px;
	line-height: 60px;
	font-size: 23px;
	display: inline-block;
	vertical-align: top;
}

nav {
	position: relative;
	top: 0;
	left: 0;
	height: 25px;
	width: 100%;
}


#display {
	position: absolute;
	bottom: 0;
	left: 0;

	width: 100%;
	
	font-size: 14px;
	color: #737373;

	padding: 20px;
}
#display > div {
	display: inline-block;
}
#display > span {
	position: absolute;
	bottom: 20px;
	right: 60px;
	text-align: right;
	display: inline-block;
	color: #7f7f7f;
	padding: 10px;
	background-color: rgba(0,0,0,0.2);
	border: 0;
	border-right: 1px solid #12589d;
}


main {
	z-index: 4;
	position: absolute;
	top: 100%;
	left: 0;
	
	color: #101018;
	font-size: 16px;
	padding: 20px 20px 0 20px;
	
	width: 100%;
	height: 100%;

	background-color: #aaa;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
input {
	margin: 0px 20px 2px 3px;
	text-align: center;
	width: 120px;
	height: 18px;
	color: #7f7f7f;
	background-color: rgba(0,0,0,0.2);
	border: 0;
	border-left: 1px solid #12589d;
}
main #in {
	display: inline-block;
}
main >:nth-child(2) {
	line-height:21.5px;
}

#tablediv table,
#tablediv tr td:first-of-type,
#tablediv tr:first-of-type td {
	background-color: rgba(0,0,0,0.2);
}
