#Jupiter {
	position: absolute;
	
	height: 20px;
	width: 20px;
	
	border-radius: 10px;
	
	background-color: rgba(153,128,108,0.7);
}
#IoDIV {
	position: absolute;
	height: 4px;
	width: 4px;
	
	border-radius: 2px;
	background-color: #000000;
}
#EuropaDIV {
	position: absolute;
	height: 2px;
	width: 2px;
	
	border-radius: 1px;
	background-color: #000000;
}
#GanymedeDIV {
	position: absolute;
	height: 8px;
	width: 8px;
	
	border-radius: 4px;
	background-color: #000000;
}
#CallistoDIV {
	position: absolute;
	height: 6px;
	width: 6px;
	
	border-radius: 3px;
	background-color: #000000;
}
#ThemistoDIV {
	position: absolute;
	height: 2px;
	width: 2px;
	
	border-radius: 1px;
	background-color: #000000;
}
#IoName,
#EuropaName,
#GanymedeName,
#CallistoName,
#ThemistoName {
	position: relative;
	left: 7px;
	top: 4px;
}
#ref{
	position: absolute;
	height: 1px;
	width: 500px;
	
	background-color:#f00;
	opacity:0.1;
}



body {
	background-color: #fff;
	
	color: #000000;
	font-family: 'Arial', sans-serif;
	font-size: 11;
}


#header {
	position: fixed;
	top:0;
	left:0;
	height:50px;
	width:100%;
	
	font-size:30;
	line-height:50px;
	padding-left:15px;
	
	background-color:#eee;
	border-bottom:1px solid  #000;
}

#main {
	position: absolute;
	top: 525px;
	left: 0;
	
	font-family: 'Arial', sans-serif;
	font-size: 16;
	padding:15px;
	
	width: 100%;
	height:700px;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	background-color:#eee;
	border-top:1px solid  #000;
}
input,
button {
	margin:0 15px -1px 0;
	text-align:center;
	width:70px;
	background-color:#fff;
	border:1px solid  #000;
}



.t {
	padding: 5px;
	display: inline-block;
	background-color: rgba(255,255,255,0.5);
}
.tn {
	text-align: center;
	padding: 5px;
	display: inline-block;
	background-color: rgba(255,255,255,0.5);
}
.th {
	text-decoration: underline;
}